# -*- mode:conf-javaprop -*-

# The password used by the internal Opensearch admin account.  Make
# sure to change it!  The minimum requirements are: 8 characters long,
# one uppercase letter, one lowercase letter, one digit, and one
# special character.
PT_OPENSEARCH_PASSWORD=StrongShufflePassword321!
# The port exposed by the Playbooks Tool web frontend (HTTPS).
PT_FRONTEND_PORT=3443
